# Task1 
Create a variable named x, and assign it a value of 20.

# Task2
Create two variables named x and y, and assign them with values 10 and 20 respectively.

# Task3 
Create a variable named x which is assigned a value of 'apple'. Print the variable x to standard output.

# Task4
Assign variable x with 10, and variable y with 20. Find their sum and assign the result to a variable z. Then print the variable z.

# Task5
Initialize all the three variables x, y, and z with the same value of 'apple' in a single statement.

# Task6
What is the built-in function that returns the type of the given value or variable (x or y or z).

# Task7
Which built-in function is used to read input from user?

# Task8
Reverse a given string 
str1 = "Amit Learning"

# Task9
split a given string
str2 = "Dema-is-a-data-scientist"

output >> ['Dema', 'is', 'a', 'data', 'scientist']

# Task10
Join this list['Dema', 'is', 'a', 'data', 'scientist'] 

output >> 'Dema is a data scientist'

# Task11
Get the characters:

From: "o" in "World!" 

To, but not included: "d" in "World!"

str1 = "Hello, World!"

# Task12
Check if "free" is present in the following text:

txt = "The best things in life are free!"

In [2]:
txt = "The best things in life are free!"

# "free" in txt 
txt.split()

['The', 'best', 'things', 'in', 'life', 'are', 'free!']

# Task13
removes any whitespace from the beginning or the end

s = " Hello, World! "

# Task14
Replace the character H with J.


txt = "Hello World"