In [59]:
lst2 = [11,5,17,18,23,50]
d = lst2[1:5]

In [60]:
for i in d:
    if i in lst2:
        lst2.remove(i)
print(lst2)

[11, 50]

In [62]:
class Dogs:
    pass

In [63]:
d1 = Dogs()

In [64]:
isinstance(d1,Dogs)

True

In [85]:
class Dogs:
    def __init__(self,name , age):
#     instance attribute
        self.name = name
        self.age  = age 
#     instance method
    def info(self):
        print(f"Dog name is {self.name}")
        print(f"Dog age is {self.age}")

In [86]:
d1 = Dogs("jack1" , 2 )
d2 = Dogs("jack2" , 2 )

In [90]:
d1.name = "Jack1"
d1.name

'Jack1'

In [88]:
d2.name

'jack2'

In [80]:
d1.info()

Dog name is Jack1
Dog age is 2

In [78]:
d2.info()

Dog name is jack2
Dog age is 2

In [91]:
class Dogs:
    def __init__(self,name , age):
#     instance attribute
        self.__name = name
        self.__age  = age 
#     instance method
    def info(self):
        print(f"Dog name is {self.__name}")
        print(f"Dog age is {self.__age}")

In [92]:
d1 = Dogs("jack1" , 2 )
d2 = Dogs("jack2" , 2 )

In [106]:
try:
    d1.__name 
except Exception as e :
    print("Error" , e)

Error 'Dogs' object has no attribute '__name'

In [98]:
d2.name = "Hamadaa"
d2.name

'Hamadaa'

In [80]:
d1.info()

Dog name is Jack1
Dog age is 2

In [96]:
d2.info()

Dog name is jack2
Dog age is 2

In [105]:
try:
    d1.name 
except Exception as e :
    print("Error" , e)

Error 'Dogs' object has no attribute 'name'

In [102]:
# d1._Dogs__name = "123"

In [104]:
# d1.info()

In [107]:
class Cars:
    def __init__(self , name, age):
        self.name = name
        self.age  = age
    def show(self):
        print("Car name is" , self.name)
        print("Car age is", self.age)

In [108]:
BMW = Cars("BMW" , 3)

In [109]:
BMW.show()

Car name is BMW
Car age is 3

In [110]:
class BMW(Cars):
    pass

In [114]:
BMW1 = BMW("bwm1" , 5)

In [115]:
BMW1.show()

Car name is bwm1
Car age is 5

In [116]:
#############################################

In [117]:
#############################################

In [118]:
class Cars:
    def __init__(self , name, age):
        self.name = name
        self.age  = age
    def show(self):
        print("Car name is" , self.name)
        print("Car age is", self.age)

In [119]:
BMW = Cars("BMW" , 3)

In [120]:
BMW.show()

Car name is BMW
Car age is 3

In [121]:
class BMW(Cars):
    pass

In [114]:
BMW1 = BMW("bwm1" , 5)

In [115]:
BMW1.show()

Car name is bwm1
Car age is 5

In [122]:
class Cars:
    def __init__(self , name, age):
        self.name = name
        self.age  = age
    def show(self):
        print("Car name is" , self.name)
        print("Car age is", self.age)

In [123]:
BMW = Cars("BMW" , 3)

In [124]:
BMW.show()

Car name is BMW
Car age is 3

In [136]:
class BMW(Cars):
    def __init__(self , name , age , model):
        Cars.__init__(self, name , age)
        self.model = model
    def show_BMW(self):
        print("Car name is" , self.name)
        print("Car age is", self.age)
        print("Car model is", self.model)

In [137]:
BMW1 = BMW("bwm1" , 5 , "123")

In [138]:
BMW1.show()

Car name is bwm1
Car age is 5

In [139]:
BMW1.model

'123'

In [140]:
BMW1.show_BMW()

Car name is bwm1
Car age is 5
Car model is 123

In [141]:
############################

In [186]:
class Cars:
#     class attribute
    count = 0 
    def __init__(self , name, age):
#         instance attribute
        self.name = name
        self.age  = age
        Cars.count += 1 
#         instance method
    def show(self):
        print("Car name is" , self.name)
        print("Car age is", self.age)
    #class method
    @classmethod
    def n_cars(cls):
        print("Number of cars is:" , cls.count)
    #static method
    @staticmethod
    def calc_time(distance , speed):
        print("Time =", round(distance/speed  , 2),"h")

In [187]:
c1 = Cars("BMW" , 5)
c2 = Cars("FIAT" , 10)
c3 = Cars("BMW1" , 15)
c4 = Cars("FIAT1" , 20)

In [188]:
c1.name

'BMW'

In [189]:
c2.name

'FIAT'

In [190]:
Cars.n_cars()

Number of cars is: 4

In [192]:
c1.calc_time(1000 , 100)

Time = 10.0 h

In [193]:
# class ShoppingCart:
# # instance attribute
# self.items = []
# # instance method
# p1.add_item("item" , price) Done! # after adding items =[ ("item" , value) , ("item2" , value2)]
# p1.remove_item("item") Done!  # items =[("item2" , value2)]
# p1.total_price() return sum of prices
# p1.show() return items , values
# #class method
# p1.n_visitor()
# # static method
# p1.calc_price(20 , 40 , 50 )

In [309]:
class ShoppingCart:
    #class attribute
    n_visitors = 0
    def __init__(self):
        #instance attribute
        self.items = [ ]
        ShoppingCart.n_visitors += 1
    #instance method
    def add_items(self , item , price):
        self.items.append((item , price))
        print(self.items)
        print("Done!")
    #instance method
    def remove_item(self, item):
        for i in self.items:
            if i[0] == item:
                self.items.remove(i)
                print("Done!")
                break
    #instance method
    def total_price(self):
        s = 0 
        for i in self.items:
            s = s + i[1] 
        return f"total price = {s}"
    #instance method
    def show(self):
        for i in self.items:
            print("Item name:",i[0] , ", price:" , i[1])
    #class method
    @classmethod
    def n_visitor(cls):
        print("Number of visitors is:" , cls.n_visitors)
    #static method
    @staticmethod
    def calc_price(*n):
        return f"Total price is = {sum(n)}"

In [310]:
p1 = ShoppingCart()
p2 = ShoppingCart()
p3 = ShoppingCart()
p4 = ShoppingCart()

In [301]:
p1.items

[]

In [302]:
p1.add_items("orange" , 50)
p1.add_items("apple" , 70)
p1.add_items("k" , 70)

[('orange', 50)]
Done!
[('orange', 50), ('apple', 70)]
Done!
[('orange', 50), ('apple', 70), ('k', 70)]
Done!

In [303]:
p1.remove_item("k")

Done!

In [304]:
p1.items

[('orange', 50), ('apple', 70)]

In [305]:
p1.total_price()

'total price = 120'

In [306]:
p1.show()

Item name: orange , price: 50
Item name: apple , price: 70

In [307]:
p1.n_visitor()

Number of visitors is: 4

In [314]:
p1.calc_price(12,12)

'Total price is = 24'

In [315]:
# class BankSystem:
# CIB = BankSystem("CIB")
users = [{"username" : "ahmed" , "password" : 123 , "balance" : 0  } ,... ]
# 1 >> Create_New_Acc
            username = input("username")
            password = input("password")
    
#         CIB.create_account("username" , "password")
# 2 >> Login
            username = input("username")
            password = input("password")

#         CIB.login("username" , "password")
#                 options 1 >> check your balance
#                         2 >> deb...
#                         3 >> withd...
#                         4 >> Cancel
                    
# 3 >> Cancel

In [316]:
# while True:

In [317]:
d = {"k":10}

In [318]:
del d["k"]

In [320]:
type(d)

dict

In [321]:
d["item"] = 10

In [322]:
d

{'item': 10}

In [323]:
d.update({"item1" : 10})

In [324]:
d

{'item': 10, 'item1': 10}